<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="#">
        <img id="logo-brand" src="assets/img/spacecompanylogo1.png" alt="Ags Shop">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mx-auto me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Produk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontak</a>
          </li>
        </ul>
        <form class="d-flex me-5">
          <!-- <a href="#">
            <img src="assets/img/fav.svg" alt="Ags Shop">
          </a> -->
          <a href="#">
            <img src="assets/img/keranjang.svg" alt="Ags Shop">
          </a>
          <a href="#">
            <img src="assets/img/akun.svg" alt="Ags Shop">
          </a>
        </form>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->